:root {
    /* Colors */
    --colors-green: hsl(75, 94%, 57%);
    --colors-white: hsl(0, 0%, 100%);
    --colors-grey-700: hsl(0, 0%, 20%);
    --colors-grey-800: hsl(0, 0%, 12%);
    --colors-grey-900: hsl(0, 0%, 8%);

    /* Typography */
    --font-family:'Inter', sans-serif;
    --font-weight-medium: ;
    --font-weight-extrabold: ;
}

    /* Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Inter';
    src: url(assets/fonts/Inter-VariableFont_slnt\,wght.ttf) format('truetype');
    font-weight: 300 900;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: var(--font-family);
    background-color: var(--colors-grey-900);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 1.5rem;
}

.profile-card {
    background-color: var(--colors-grey-800);
    padding: clamp(1.5rem, 6.4vw, 2.5rem);
    border-radius: 1.25rem;
    width: clamp(20.4375rem, 87.2vw, 24rem);
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.profile-info__avatar {
    width: 88px;
    height: 88px;
    border-radius: 50%;
    overflow: hidden;
    
}

.profile-info__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-info__name {
    padding-top: 1.5rem;
}

.profile-info__full-name {
    font-size: 1.5rem;
    line-height: 150%;
    color: var(--colors-white);
    font-weight: 600;
}
.profile-info__location {
    padding-top: 0.25rem;
}

.profile-info__city-country {
    font-size: 0.875rem;
    line-height: 150%;
    color: var(--colors-green);
    font-weight: 600;
}

.profile-info__job-title {
    padding: 1.5rem 0;
}

.profile-info__description {
    font-size: 0.875rem;
    line-height: 150%;
    color: var(--colors-white);
    font-weight:400;
}

.social-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.social-links__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 1rem;
    width: clamp(17.4375rem, 74.4vw, 19rem);
}

.social-links__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0.75rem 0;
    text-decoration: none;
    color: var(--colors-white);
    font-weight: 600;
}



.social-links__item {
    display: flex;  
    flex-direction: column;
    width: 100%;
    background-color: var(--colors-grey-700);
    font-size: 0.875rem;
    line-height: 150%;  
    border-radius: 0.5rem;
    transition: background-color 0.3s, color 0.3s;
}

.social-links__item:hover,
.social-links__item:focus-within {
    background-color: var(--colors-green);
    cursor: pointer;
}

.social-links__item:hover .social-links__link,
.social-links__item:focus-within .social-links__link {
    color: var(--colors-grey-900);
}

.attribution {
    font-size: 0.75rem;
    text-align: center;
    margin-top: clamp(1.5rem, 6.4vw, 2.5rem);
    color: var(--colors-grey-700);
}

.attribution a {
    color: var(--colors-white);
}